/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    font-family: 'Inter', var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.card {
    background: var(--surface-card);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.fab-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
}

.fab-button .p-button {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.fab-button .p-button .p-button-icon {
    font-size: 1.5rem;
}
